@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
/*full size site*/
@media all and (min-width:1200px) {
  body {
    background-color: SkyBlue;
    font-family: 'Architects Daughter';
  }

  header {
    margin: auto;
    width: 200px;
    height: 200px;
    background: Gold;
    border-radius: 100px / 100px; /*half of width and height*/
    text-align: center;
  }

  h1 {
    padding-top: 50px;
  }

  .page-wrapper {
    margin: auto;
    width: 20%;
    height: 100%;
    background-color: #332101;
    /*margin-top: -200px;*/
  }
  /*ovveride p format*/
  .summary p{

  }

  #zen-supporting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .preamble, #zen-explanation, #zen-participation, #zen-requirements {
    position: relative;
    display: block;
    margin: auto;
    height: 400px;
    width: 300px;
  }

  h3{
    position: absolute;
    top: 10%;
    left: 30%;

    display: inline-block;
    width: 150px;
    height: 250px;
    background: YellowGreen;
    border: 5px DarkGreen solid;
    border-radius: 75px / 150px; /*half of width and height*/
    text-align: center;
    padding-top: 50px;
    z-index: 1;
  }
  p{
    position: absolute;
    top: 10%;

    display: inline-block;
    width: 150px;
    height: 250px;
    margin-bottom: 0;

    background: YellowGreen;
    border: 5px DarkGreen solid;
    border-radius: 75px / 150px; /*half of width and height*/
    text-align: center;
    padding-top: 50px;
    transition: all 0.5s ease-in-out;
    z-index: 0;
    color: transparent;
  }

  p:nth-child(2) {
    left: 40%;
  }
  p:nth-child(3) {
    left: 45%;
  }
  p:nth-child(4) {
    left: 20%;
  }
  p:nth-child(5) {
    left: 15%;
  }
  p:nth-child(6) {
    left: 10%;
  }

  /*choose all adjacent p's to h3*/
  /*h3:hover ~ p {
  transform: rotate(30deg);

  transform-origin: 50% 85%;
  }*/

  div[role=article]:hover p{
    color: black;
    transform-origin: 50% 110%;
  }

  div[role=article]:hover p:nth-child(2) {
    transform: rotate(30deg);
  }
  div[role=article]:hover p:nth-child(3) {
    transform: rotate(50deg);
  }
  div[role=article]:hover p:nth-child(4) {
    transform: rotate(-30deg);
  }
  div[role=article]:hover p:nth-child(5) {
    transform: rotate(-50deg);
  }
  div[role=article]:hover p:nth-child(6) {
    transform: rotate(-60deg);
  }

  footer {
    display:none;
  }

  aside {
    border:1px solid black;
    width:30%;
    margin-left:67%;
  }
}
/*mid size site*/
@media all and (min-width:500px) and (max-width:1200px) {

}
/*mobile site*/
@media all and (min-width:300px) and (max-width:500px) {

  body {
    background-color: SkyBlue;
    font-family: 'Architects Daughter';
  }

  header{
    margin-top: 100px;
    position: relative;
    margin: auto;
    width: 100%;
    height: 120px;
    /*background: #1F2800;*/
    background: DarkGreen;
    color: Chartreuse;
    border-radius: 100px / 70px; /*half of width and height*/
    text-align: center;
    z-index: 0;
  }


  h1::after, h1::before {
    content: '';
    position: absolute;
    /*background: #1F2800;*/
    background: DarkGreen;
    z-index: -1;
  }

  h1::after {
    width: 130px;
    height: 150px;
    border-radius: 65px / 50px;

    top: -50px;
    right: 75px;
  }

  h1::before {
    width: 150px;
    height: 125px;
    border-radius: 70px / 63px;

    top: -30px;
    left: 50px;
  }


  h1 {
    padding-top: 25px;
  }

  body {
    position: relative;
  }

  /*.page-wrapper {
  margin: auto;
  margin-top: 30px;
  padding: 10%;

  width: 70%;
  height: 100%;
  background-color: #332101;
  background-position: 0 300px;
  }*/

  #zen-supporting, #zen-summary, #zen-preamble{
    margin: auto;
    padding-top: 5%;
    padding-bottom:5%;
    padding-right: 10%;
    padding-left: 10%;

    width: 60%;
    height: 100%;
    background-color: #332101;
    background-position: 0 300px;
    color: LightGreen;
  }

  #zen-summary {
    margin-top: -5%;
  }

  #zen-intro {
    margin-top: 80px;
  }
  h3 {
    font-weight: bold;
    font-size: 28px;
    position: relative;
  }
  a {
    color: LimeGreen;
  }
  a:visited {
    color: MediumPurple;
  }

  h3::after, h3::before{
    content: '';
    position: absolute;

    width: 30px;
    height: 50px;

    background: YellowGreen;
    border: 3px DarkGreen solid;
    border-radius: 16px / 26px; /*half of width and height*/
    transform-origin: 50% 110%;
  }

  h3::before {
    left: -50px;
    transform: rotate(-40deg);
  }

  h3::after {
    right: -50px;
    bottom: -40px;
    transform: rotate(30deg);
  }

}
