@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  background-color: SkyBlue;
  font-family: 'Architects Daughter';
}


header {
  margin: auto;
  width: 200px;
  height: 200px;
  background: Gold;
  border-radius: 100px / 100px; /*half of width and height*/
  text-align: center;

}

h1 {
  padding-top: 50px;
}

/*.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  border:1px solid black;
  width:66%;
  float:left;
}*/
#zen-supporting{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.preamble, #zen-explanation, #zen-participation, #zen-requirements {
  position: relative;
  display: block;
  margin: auto;
  height: 400px;
  width: 300px;
}

h3{
  position: absolute;
  top: 10%;
  left: 30%;

  display: inline-block;
  width: 150px;
  height: 250px;
  background: YellowGreen;
  border: 5px DarkGreen solid;
  border-radius: 75px / 150px; /*half of width and height*/
  text-align: center;
  padding-top: 50px;
}
p{
  position: absolute;
  top: 10%;

  display: inline-block;
  width: 150px;
  height: 250px;
  margin-bottom: 0;

  background: YellowGreen;
  border: 5px DarkGreen solid;
  border-radius: 75px / 150px; /*half of width and height*/
  text-align: center;
  padding-top: 50px;
  transition: all 0.5s ease-in-out;
}

p:nth-child(2) {
  left: 40%;
  z-index: -1;
}
p:nth-child(3) {
  left: 45%;
  z-index: -2;
}
p:nth-child(4) {
  left: 20%;
  z-index: -3;
}

/*choose all adjacent p's to h3*/
/*h3:hover ~ p {
    transform: rotate(30deg);

    transform-origin: 50% 85%;
}*/

div[role=article]:hover p:nth-child(2) {
    transform: rotate(30deg);

    transform-origin: 50% 110%;
}
div[role=article]:hover p:nth-child(3) {
    transform: rotate(50deg);

    transform-origin: 50% 110%;
}
div[role=article]:hover p:nth-child(4) {
    transform: rotate(-30deg);

    transform-origin: 50% 110%;
}
footer {
  display:none;
}

aside {
  border:1px solid black;
  width:30%;
  margin-left:67%;
}

@media all and (width:320px) {
  body {
    background-color:orange;
  }

  .summary, .preamble, .explanation, .participation, .benefits, .requirements {
    width:auto;
    float:none;
  }

  aside {
    width:auto;
    margin-left:0;
  }

}
